/* _content/Web_BodyApp/Pages/Food.razor.rz.scp.css */
#pageContent[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#daylyEntries[b-qd3f656nqi] {
    width: 100%;
    display: flex;
    gap: 10px;
}

#daylyEntries > *[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: var(--border-medium);
    padding: 10px;
    background-color: var(--color-bkg-lightgrey);
    min-height: 150px;
    width: calc((100% - 10px*4)/5);
}

.dayTimeTitle[b-qd3f656nqi] {
    margin: 0;
    padding: 5px;
    border-radius: var(--border-medium);
    font-weight: 400;
    text-align: center;
    font-family: 'Rowdies', sans-serif;
}

/* Colores títulos ingestas diarias */
#daylyEntries div:nth-child(1) .dayTimeTitle[b-qd3f656nqi] {
    background-color: hsl(0, 93.33%, 70.59%);
    color: hsl(0, 37%, 20%);
}

#daylyEntries div:nth-child(2) .dayTimeTitle[b-qd3f656nqi] {
    background-color: hsl(340, 55.05%, 57.25%);
    color: hsl(339, 41%, 18%);
}

#daylyEntries div:nth-child(3) .dayTimeTitle[b-qd3f656nqi] {
    background-color: hsl(317.92, 34.22%, 44.12%);
    color: hsl(319, 35%, 16%);
}

#daylyEntries div:nth-child(4) .dayTimeTitle[b-qd3f656nqi] {
    background-color: hsl(275.29, 28.49%, 35.1%);
    color: hsl(275, 57%, 66%);
}

#daylyEntries div:nth-child(5) .dayTimeTitle[b-qd3f656nqi] {
    background-color: hsl(229.57, 35.38%, 25.49%);
    color: hsl(230, 54%, 60%);
}

/* Macros de ingestas por tiempo de dia */
.timeDayMacros[b-qd3f656nqi] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.timeDayMacros p[b-qd3f656nqi] {
    margin: 0;
    width: min-content;
}

.numericalData[b-qd3f656nqi] {
    font-variation-settings: 'wght' 700;
}

.macroTitle[b-qd3f656nqi] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 400;
    color: gray;
}
/* Fin de lo anterior */


/* Tal */
.timeDayDetailWrapper[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Fin de lo anterior */

.entriesWrapper[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noDataCta[b-qd3f656nqi] {
    text-align: center;
}

.entriesWrapper > p[b-qd3f656nqi] {
    text-align: center;
    color: grey;
}

.addMealBtn[b-qd3f656nqi] {
    margin: 0 auto 10px auto;
}

.addMealBtn[b-qd3f656nqi],
#controlDateWrapper > button[b-qd3f656nqi],
#setToday[b-qd3f656nqi],
[b-qd3f656nqi] .infoCtaBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border: none;
    font-variation-settings: 'wght' 650;
    color: hsl(0, 0%, 30%);
    border-radius: var(--border-medium);
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-radius .2s ease-in-out;
    background-color: var(--color-bkg-slightlydarkgrey);
}

#setToday[b-qd3f656nqi] {
    padding: 5px 50px;
    margin: 0 auto;
}

.addMealBtn:hover[b-qd3f656nqi],
#controlDateWrapper > button:hover[b-qd3f656nqi],
#setToday:hover[b-qd3f656nqi] {
    background-color: var(--color-btn-hover);
    color: black;
    border-radius: var(--border-large);
}

[b-qd3f656nqi] .infoCtaBtn:first-of-type:hover {
    background-color: var(--btn-yellow-border);
    color: var(--btn-yellow-bkg);
    border-radius: var(--border-large);
}

[b-qd3f656nqi] .infoCtaBtn:last-of-type:hover {
    background-color: var(--btn-red-border);
    color: var(--btn-red-bkg);
    border-radius: var(--border-large);
}

#controlDateWrapper[b-qd3f656nqi] {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

#controlDateWrapper > p[b-qd3f656nqi] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    width: 200px;
    text-align: center;
    margin: none;
}

#datePickerWrapper[b-qd3f656nqi] {
    width: 250px;
}

#currentDay[b-qd3f656nqi] {
    text-align: center;
    font-family: 'Rowdies', sans-serif;
    font-weight: 400;
    margin: 5px 0 0 0;
}

#allDayResume p[b-qd3f656nqi] {
    margin: 0;
}

#allDayResume[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: var(--border-large);
    background-color: var(--color-bkg-lightgrey);
    min-height: 200px;
}

#allDayResume h3[b-qd3f656nqi] {
    text-align: center;
    padding: 5px;
    border-radius: var(--border-medium);
    background-color: var(--color-bkg-grey);
    color: gray;
}

#allDayResume .dataWrapper[b-qd3f656nqi] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#allDayResume span[b-qd3f656nqi] {
    font-variation-settings: 'wght' 650;
}

#foodDetailData[b-qd3f656nqi],
#dayFoodEntries[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoCtaRow[b-qd3f656nqi] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoCtaRow p[b-qd3f656nqi] {
    flex: 0 0 100%;
    text-align: center;
}

.dataWrapper.noData[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.dataWrapper.noData p[b-qd3f656nqi] {
    text-align: center;
    color: grey;
    padding: 0 50px;
}

.dataWrapper.noData button:hover[b-qd3f656nqi] {
    background-color: var(--btn-yellow-border);
    color: var(--btn-yellow-bkg);
    border-radius: var(--border-large);
}

.dataWrapper.editMode[b-qd3f656nqi]  input {
    background-color: var(--color-bkg-grey);
}

/* Listado de comidas */
#allUserMeals[b-qd3f656nqi] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mealsWrapper[b-qd3f656nqi] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Botón de agregar nueva comida */
#addNewMealBtn button[b-qd3f656nqi] {
    height: 100%;
    background-color: var(--color-bkg-lightgrey);
    border-radius: var(--border-large);
    border: 1px dashed grey;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-radius .2s ease-in-out;
    font-variation-settings: 'wght' 650;
    color: grey;
}

#addNewMealBtn button:hover[b-qd3f656nqi] {
    background-color: var(--color-btn-hover);
    color: black;
    border-radius: 40px;
    border: 1px solid grey;
}
/* _content/Web_BodyApp/Pages/Historical.razor.rz.scp.css */
table[b-4uteglf7d0] {
    width: 100%;
    border-spacing: 0 10px;
}

th[b-4uteglf7d0] {
    font-family: 'Rowdies';
    font-weight: 300;
}

table tbody[b-4uteglf7d0]  tr td {
    width: fit-content;
}

table thead[b-4uteglf7d0] {
    border-bottom: 1px solid black;
}

    table tbody[b-4uteglf7d0]  tr td:first-of-type {
        border-radius: var(--border-large) 0 0 var(--border-large);
    }

    table tbody[b-4uteglf7d0]  tr td:last-of-type {
        border-radius: 0 var(--border-large) var(--border-large) 0;
    }

    table tbody[b-4uteglf7d0]  tr:nth-child(odd) td {
        background-color: var(--color-bkg-lightgrey);
    }


#pageContent[b-4uteglf7d0] {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* _content/Web_BodyApp/Pages/Index.razor.rz.scp.css */
#addWeightDataForm[b-psor6dh6ng] {
    display: flex;
    gap: 10px;
}

#basicWidgets[b-psor6dh6ng] {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#basicWidgets > *[b-psor6dh6ng],
#basicWidgets[b-psor6dh6ng]  .noDataPlaceHolder {
    width: 400px;
    background-color: var(--color-bkg-lightgrey);
    border-radius: var(--border-large);
    padding: 20px;
}

.widgetTitle[b-psor6dh6ng] {
    font-weight: 600;
    font-size: 1.2rem;
}

#fatPercRepresentationRes[b-psor6dh6ng] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#fatPercRepresentationRes img[b-psor6dh6ng] {
    width: 100%;
    border-radius: var(--border-large);
}

#fatPercRepresentationRes span[b-psor6dh6ng] {
    font-weight: 700;
    font-size: 1.4rem;
}

#fatPercRepresentationRes p[b-psor6dh6ng] {
    text-align: center;
}

#pageContent[b-psor6dh6ng] {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* _content/Web_BodyApp/Pages/Profile.razor.rz.scp.css */
#contactInfo[b-e0xvin8cv2], #bodyInfo[b-e0xvin8cv2] {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

#bodyTypeWrapper img[b-e0xvin8cv2] {
    width: 100px;
    border-radius: var(--border-medium);
}

#bodyTypeWrapper[b-e0xvin8cv2] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: var(--border-large);
    background-color: var(--color-bkg-lightgrey);
}

#bodyTypeWrapper[b-e0xvin8cv2]  > div {
    width: 100%;
}

#infoWrapper[b-e0xvin8cv2] {
    display: flex;
    gap: 30px;
}

.addNewProfileData[b-e0xvin8cv2] {
    display: flex;
    justify-content: space-between;
}

    .addNewProfileData .addNewInfoBtns:only-child[b-e0xvin8cv2] {
        margin: auto;
    }

.addNewProfileData[b-e0xvin8cv2]  input,
.addNewProfileData[b-e0xvin8cv2]  select {
    border: 1px solid black;
    border-radius: var(--border-small);
    font-size: 14px;
    padding: 2px 5px;
}

.addNewInfoBtns[b-e0xvin8cv2] {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: end;
    margin-left: auto;
}

.addNewInfoBtns svg[b-e0xvin8cv2] {
    width: 18px;
    transition: fill .2s ease-in-out;
}

button[b-e0xvin8cv2] {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    padding: 0;
    border-radius: var(--border-rounded);
    height: 20px;
    transition: border-color .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
}

.addNewInfoBtns:only-child button:hover[b-e0xvin8cv2] {
    background-color: var(--btn-yellow-bkg);
    color: var(--btn-yellow-border);
    border-color: var(--btn-yellow-border);
}

.addNewInfoBtns:only-child button[b-e0xvin8cv2] {
    padding: 0 5px;
}

.addNewInfoBtns:not(:only-child) .acceptBtn:hover[b-e0xvin8cv2] {
    background-color: var(--btn-green-bkg);
    border-color: var(--btn-green-border);
    fill: var(--btn-green-border);
}

.addNewInfoBtns:not(:only-child) .cancelBtn:hover[b-e0xvin8cv2] {
    background-color: var(--btn-red-bkg);
    border-color: var(--btn-red-border);
    fill: var(--btn-red-border);
}

.editableDataWrapper[b-e0xvin8cv2] {
    background-color: var(--color-bkg-lightgrey);
    padding: 5px 10px;
    border-radius: var(--border-large);

}
/* _content/Web_BodyApp/Shared/EditableData.razor.rz.scp.css */
.editRow[b-fctpaz2a69] {
    display: flex;
    gap: 5px;
    align-items: center;
}

.editRowImg[b-fctpaz2a69] {
    height: 30px;
}

.textualInfo p[b-fctpaz2a69] {
    margin: 0;
    font-size: .85rem;
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    color: rgb(88, 88, 88);
}

.textualInfo span:first-of-type[b-fctpaz2a69] {
    font-variation-settings: 'wght' 650;
    font-size: 1.1rem;
}

.textualInfo[b-fctpaz2a69]  input,
.textualInfo[b-fctpaz2a69]  select {
    border: none;
    border-radius: var(--border-medium);
    font-size: 14px;
    padding: 2px 5px;
    font-family: 'Nunito', sans-serif;
    font-variation-settings: 'wght' 650;
}

.ctaBtns[b-fctpaz2a69] {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: end;
    margin-left: auto;
}

button[b-fctpaz2a69] {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 3px;
    border-radius: var(--border-medium);
    height: 24px;
    transition: border-color .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
}

.oneBtn button:hover[b-fctpaz2a69] {
    color: var(--btn-yellow-bkg);
    background-color: var(--btn-yellow-border);
}

.oneBtn button span[b-fctpaz2a69] {
    padding: 0 5px;
}

.twoBtns button:first-child:hover[b-fctpaz2a69] {
    border-color: var(--btn-green-bkg);
    background-color: var(--btn-green-border);
}

    .twoBtns button:first-child:hover svg[b-fctpaz2a69] {
        fill: var(--btn-green-bkg);
    }

.twoBtns button:last-child:hover[b-fctpaz2a69] {
    border-color: var(--btn-red-bkg);
    background-color: var(--btn-red-border);
}

    .twoBtns button:last-child:hover svg[b-fctpaz2a69] {
        fill: var(--btn-red-bkg);
    }

.twoBtns button svg[b-fctpaz2a69] {
    transition: fill .2s ease-in-out;
    height: 100%;
}
/* _content/Web_BodyApp/Shared/FoodComps/DailyIntakeFoodDetail.razor.rz.scp.css */
.foodDataInfoCard[b-uw1uxb9kj8] {
    padding: 10px;
    background-color: var(--color-bkg-dark-food);
    border-radius: var(--border-medium);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodDataInfoCard p[b-uw1uxb9kj8] {
    margin: 0;
}

.intakeDetailBasicInfo[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.intakeDetailBasicInfo.editMode .formInputBlock[b-uw1uxb9kj8] {
    width: calc((100% - 10px)/2);
}

.intakeMacrosWrapper[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.intakeMacrosWrapper:not(.editMode)[b-uw1uxb9kj8]  .formInput {
    width: 100%;
}

.intakeMacrosWrapper.editMode .formInputBlock[b-uw1uxb9kj8] {
    width: calc((100% - 20px)/3);
}

.intakeDetailName[b-uw1uxb9kj8] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    color: gray;
}

.foodDataInfoCard p:not(.intakeDetailName) span[b-uw1uxb9kj8] {
    font-variation-settings: 'wght' 700;
}

.intakeDetailCtaBtns[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

    .intakeDetailCtaBtns button[b-uw1uxb9kj8] {
        background-color: var(--color-bkg-slightlydarkgrey);
    }

.infoCtaBtn[b-uw1uxb9kj8] {
    padding: 5px 15px;
}
/* _content/Web_BodyApp/Shared/FoodComps/DailyIntakeMealDetail.razor.rz.scp.css */
.mealDataInfoCard[b-szgdy27zal] {
    padding: 10px;
    background-color: var(--color-bkg-dark-meal);
    border-radius: var(--border-medium);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealDataInfoCard p[b-szgdy27zal] {
    margin: 0;
}

.intakeDetailBasicInfo[b-szgdy27zal] {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.intakeDetailBasicInfo.editMode .formInputBlock[b-szgdy27zal] {
    width: calc((100% - 10px)/2);
}

.intakeMacrosWrapper[b-szgdy27zal] {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.intakeMacrosWrapper:not(.editMode)[b-szgdy27zal]  .formInput {
    width: 100%;
}

.intakeMacrosWrapper.editMode .formInputBlock[b-szgdy27zal] {
    width: calc((100% - 20px)/3);
}

.intakeDetailName[b-szgdy27zal] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    color: gray;
}

.mealDataInfoCard p:not(.intakeDetail) span[b-szgdy27zal] {
    font-variation-settings: 'wght' 700;
}

.intakeDetailCtaBtns[b-szgdy27zal] {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

    .intakeDetailCtaBtns button[b-szgdy27zal] {
        background-color: var(--color-bkg-slightlydarkgrey);
    }

.mealQty[b-szgdy27zal] {
    text-align: center;
}

.infoCtaBtn[b-szgdy27zal] {
    padding: 5px 15px;
}
/* _content/Web_BodyApp/Shared/FoodComps/FoodMealItem.razor.rz.scp.css */
.mealCard[b-2x18exkic6] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    background-color: var(--color-bkg-dark-meal);
    border-radius: var(--border-large);
    padding: 15px;
}

    .mealCard p[b-2x18exkic6] {
        margin: 0;
    }

    .mealCard span[b-2x18exkic6] {
        font-variation-settings: 'wght' 650;
    }

    .mealCard h4[b-2x18exkic6] {
        font-family: 'Rowdies', sans-serif;
        color: gray;
        font-weight: 400;
        margin: 0;
    }

.mealActions[b-2x18exkic6] {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mealCard .mealWeight[b-2x18exkic6] {
    margin-bottom: 10px
}

.mealData[b-2x18exkic6] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealData .firstMealRowData[b-2x18exkic6] {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.mealData .firstMealRowData[b-2x18exkic6]  .dataDiv{
    width: 50%;
}

.mealData .formInputBlock[b-2x18exkic6]  input {
    background-color: var(--color-bkg-grey);
}

.mealActions.editMode button[b-2x18exkic6] {
    background-color: var(--color-bkg-slightlydarkgrey);
}
.mealActions.editMode button:first-of-type:hover[b-2x18exkic6] {
    color: var(--btn-green-bkg);
    background-color: var(--btn-green-border);
}

.mealActions.editMode button:last-of-type:hover[b-2x18exkic6] {
    color: var(--btn-red-bkg);
    background-color: var(--btn-red-border);
}
/* _content/Web_BodyApp/Shared/HistoricalComps/PhysicalDataListItem.razor.rz.scp.css */
.ctaBtns[b-osf03im3si] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

    .ctaBtns button[b-osf03im3si] {
        width: 100%;
        border: none;
        background-color: var(--color-bkg-grey);
        cursor: pointer;
        padding: 0;
        border-radius: var(--border-medium);
        height: 25px;
        transition: border-color .2s ease-in-out,
            color .2s ease-in-out,
            background-color .2s ease-in-out;
    }

        .ctaBtns button span[b-osf03im3si] {
            margin: 5px 10px;
        }

        .ctaBtns button:first-of-type:hover[b-osf03im3si] {
            color: var(--btn-yellow-bkg);
            background-color: var(--btn-yellow-border);
        }

        .ctaBtns button:last-of-type:hover[b-osf03im3si] {
            color: var(--btn-red-bkg);
            background-color: var(--btn-red-border);
        }

.circWrapper[b-osf03im3si],
.bodyFatMeasuresWrapper[b-osf03im3si],
.weightCompWrapper[b-osf03im3si] {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 15px;
    margin: 10px 0;
}

    .fatMuscPercWrapper[b-osf03im3si] {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    /* .circWrapper ::deep .dataDiv,
    .bodyFatMeasuresWrapper ::deep .dataDiv,
    .weightCompWrapper ::deep .dataDiv {
        flex: 48%;
    }*/
    .circWrapper:has(p)[b-osf03im3si],
    .bodyFatMeasuresWrapper:has(p)[b-osf03im3si],
    .fatMuscPercWrapper:has(p)[b-osf03im3si],
    .weightCompWrapper:has(p)[b-osf03im3si] {
        justify-content: center;
    }

    .bodyFatMethodCell[b-osf03im3si], .weightCell[b-osf03im3si], .imcCell[b-osf03im3si], .dateCell[b-osf03im3si] {
    text-align: center;
}

        .bodyFatMethodCell p[b-osf03im3si],
        .weightCell p[b-osf03im3si],
        .imcCell p[b-osf03im3si],
        .dateCell p[b-osf03im3si] {
            display: inline-block;
            margin: 5px;
        }

td > p[b-osf03im3si] {
    text-align: center;
}

.bodyFatMethodWrapper[b-osf03im3si] {
    display: flex;
    flex-direction: column;
}

.editMode button[b-osf03im3si] {
    border: none;
    background-color: var(--color-bkg-grey);
    color: black;
}

.editMode button:first-of-type:hover[b-osf03im3si] {
    color: var(--btn-green-bkg);
    background-color: var(--btn-green-border);
}

.editMode button:last-of-type:hover[b-osf03im3si] {
    color: var(--btn-red-bkg);
    background-color: var(--btn-red-border);
}

[b-osf03im3si] .formInputBlock {
    align-items: flex-start;
}

[b-osf03im3si] .formInputBlock input {
    max-width: 80px;
}

.dateCell[b-osf03im3si]  input {
    max-width: 100%;
}

.dateCell[b-osf03im3si]  .formInputBlock {
    width: fit-content;
    margin: auto;
}

.circunferenceInputWrapper[b-osf03im3si] {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 15px;
    margin: 10px 0;
}

.calcInfoText[b-osf03im3si] {
    font-size: 14px;
    color: dimgrey;
}

[b-osf03im3si] .formInput {
    background-color: var(--color-bkg-grey);
}
/* _content/Web_BodyApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-kmkvfw2rf0] {
    position: relative;
    gap: 10px;
}

.navbarLogo[b-kmkvfw2rf0] {
    display: flex;
    height: 100%;
    padding: 10px 20px;
}

.navbarLogo img[b-kmkvfw2rf0] {
    width: 230px;
}

.navBarTopRow[b-kmkvfw2rf0] {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: var(--border-large);
    position: fixed;
    top: 20px;
    width: auto;
    z-index: 999;
    background-color: var(--color-bkg-grey);
}

.page.login[b-kmkvfw2rf0] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendBtn[b-kmkvfw2rf0] {
    padding: 0.5rem;
    border-radius: var(--border-medium);
    border: none;
    font-size: 0.85rem;
    font-variation-settings: "wght" 650;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: color 0.2s, background-color 0.2s;
}

    #sendBtn:hover[b-kmkvfw2rf0] {
        background-color: var(--btn-yellow-border);
        color: white;
    }

.sidebar[b-kmkvfw2rf0] {
    display: flex;
    flex-direction: column;
    z-index: 999;
}

#loginFormWrapper[b-kmkvfw2rf0] {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#logSplashTitle[b-kmkvfw2rf0] {
    width: fit-content;
}

#logSplashTitle img[b-kmkvfw2rf0] {
    width:250px;
}

#logSplashTitle h1[b-kmkvfw2rf0] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    width: fit-content;
    margin-bottom: 0;
    font-size: 1.75rem;
    color: gray;
}

#loginFormWrapper p[b-kmkvfw2rf0] {
    font-size: 1rem;
}

#loginFormWrapper span[b-kmkvfw2rf0] {
    font-weight: 600;
}

[b-kmkvfw2rf0] form {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--border-large);
    background-color: white;
    box-shadow: var(--shadow-std);
}

.formInputBlockCheckbtn label[b-kmkvfw2rf0] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    font-size: 0.85rem;
}

@media (min-width: 641px) {
    .page[b-kmkvfw2rf0] {
        flex-direction: row;
    }

    main[b-kmkvfw2rf0] {
        left: 105px;
        width: calc(100vw - 125px - 30px);
        top: 90px;
        position: relative;
    }

    .sidebar[b-kmkvfw2rf0] {
        width: auto;
        height: calc(100vh - 120px);
        position: fixed;
        top: 100px;
    }

    .top-row[b-kmkvfw2rf0] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler[b-kmkvfw2rf0] {
        display: none;
    }

    .collapse[b-kmkvfw2rf0] {
        /* Never collapse the sidebar for wide screens display: block; */
    }
}
/* _content/Web_BodyApp/Shared/Modal.razor.rz.scp.css */
#inputModal[b-pj9gacceub] {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

h3[b-pj9gacceub] {
    margin: 0;
    width: 100%;
    font-family: 'Rowdies', sans-serif;
    font-weight: 400;
}

#inputModal.fade-in[b-pj9gacceub] {
    opacity: 1;
    visibility: visible;
}

.modal-content.fade-in[b-pj9gacceub] {
    visibility: 1;
    transform: translateY(0);
}

#modalFirstLine[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2rem;
    width: 80%;
    max-width: 700px;
    border-radius: var(--border-large);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    visibility: 0;
    transform: translateY(10px);
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.firstLineInputs[b-pj9gacceub] {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.firstLineInputs .formInputBlock[b-pj9gacceub] {
    width: 100%;
}

#addWeightDataForm[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputBodyFatMeasures[b-pj9gacceub], #circunferencesInputs[b-pj9gacceub] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #inputBodyFatMeasures .formInputBlock[b-pj9gacceub],
    #circunferencesInputs .formInputBlock[b-pj9gacceub] {
        width: calc(50% - 10px);
    }

#circunferencesInputs[b-pj9gacceub] {
    padding-top: 10px;
    border-top: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
}

#bodyFatInputs[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    margin-bottom: 10px;
}

#closeBtn[b-pj9gacceub] {
    background-color: transparent;
    place-self: end;
    border: none;
    cursor: pointer;
}

[b-pj9gacceub] #addFoodDataForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#macrosDetailWrapper[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#macrosDetailWrapper h3[b-pj9gacceub] {
    margin-bottom: 10px;
}

.inputRowWrapper[b-pj9gacceub] {
    display: flex;
    gap: 10px;
}

.inputRowWrapper[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
}

.macrosRow[b-pj9gacceub] {
    display: flex;
    gap: 10px;
}

.macrosRow .formInputBlock[b-pj9gacceub] {
    width: calc((100% - 20px)/3);
}

.basicInfoFoodData[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basicInfoFoodData .inputRow[b-pj9gacceub] {
    display: flex;
    gap: 10px;
}

.basicInfoFoodData .formInputBlock[b-pj9gacceub] {
    width: 100%;
}

.nutritionalDataInputWrapper[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

#nutritionalDataInputs[b-pj9gacceub] {
    padding: 10px;
    background-color: var(--color-bkg-lightgrey);
    border-radius: var(--border-large);
}

#nutritionalDataInputs[b-pj9gacceub]  .formInput {
    background-color: var(--color-bkg-grey);
}

#manualInputNutritionalData[b-pj9gacceub] {
    width: 100%;
}

.horizontalSeparator[b-pj9gacceub] {
    margin: 0;
    color: grey;
    display: flex;
    justify-content: space-between;
}

.horizontalSeparator[b-pj9gacceub]::after {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: grey;
    margin: auto 0;
}

.horizontalSeparator[b-pj9gacceub]::before {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: grey;
    margin: auto 0;
}

#dropdownInputNutritionalData[b-pj9gacceub] {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#alreadyAddedItems[b-pj9gacceub] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Mensaje de error */
.invalidFormMessage[b-pj9gacceub] {
    background-color: var(--btn-red-border);
    color: var(--btn-red-bkg);
    padding: 10px;
    text-align: center;
    border-radius: var(--border-large);
    font-variation-settings: 'wght' 400;
}

.invalidFormMessage span[b-pj9gacceub] {
    font-variation-settings: 'wght' 800;
}

/* Para el modal de Meal */
.basicInfoMealData[b-pj9gacceub], .inputRow[b-pj9gacceub], .mealMacrosInputs[b-pj9gacceub] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealMacrosInputs .rowInputs[b-pj9gacceub] {
    display: flex;
    gap: 10px;
}

.mealMacrosInputs .rowInputs .formInputBlock[b-pj9gacceub] {
    width: 100%;
}

[b-pj9gacceub] #addMealDataForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondaryMealSelectionRow[b-pj9gacceub] {
    display: flex;
    gap: 10px;
}

.secondaryMealSelectionRow > *[b-pj9gacceub]{
    width: 100%;
}
/* _content/Web_BodyApp/Shared/ModalComps/AddedIntakeCard.razor.rz.scp.css */
.intakeItemPreview[b-bz79n0rx6r] {
    padding: 10px;
    background-color: var(--color-bkg-lightgrey);
    width: fit-content;
    border-radius: var(--border-large);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .intakeItemPreview p[b-bz79n0rx6r] {
        margin: 0;
    }

    .intakeItemPreview span[b-bz79n0rx6r] {
        font-variation-settings: 'wght' 800;
    }

    .intakeItemPreview .titleRow p[b-bz79n0rx6r] {
        font-family: 'Rowdies', sans-serif;
        font-weight: 300;
    }

    .intakeItemPreview .titleRow button span[b-bz79n0rx6r] {
        font-size: 1rem;
        font-variation-settings: 'wght' 400;
    }

    .intakeItemPreview .titleRow button[b-bz79n0rx6r] {
        border: none;
        border-radius: 5px;
        background-color: var(--color-bkg-grey);
        display: flex;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

        .intakeItemPreview .titleRow button:hover[b-bz79n0rx6r] {
            background-color: var(--color-btn-hover);
        }

    .intakeItemPreview > p[b-bz79n0rx6r] {
        font-size: 12px;
    }

.titleRow[b-bz79n0rx6r] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.titleRow button[b-bz79n0rx6r] {
    margin-left: 10px;
}

.foodIntakeItem[b-bz79n0rx6r] {
    background-color: var(--color-bkg-food);
}

.mealIntakeItem[b-bz79n0rx6r] {
    background-color: var(--color-bkg-meal);
}

.mealQty span[b-bz79n0rx6r] {
    font-variation-settings: 'wght' 800;
}
/* _content/Web_BodyApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1bas4q87wh] {
    background-color: rgba(255, 255, 255, 0.1);
}

#mainMenu[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
}

#addInfoMainMenuBtns[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainLinks[b-1bas4q87wh]  a,
.actionBtn[b-1bas4q87wh] {
    border: none;
    border-radius: var(--border-large);
    height: 45px;
    width: fit-content;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(92, 93, 116);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);

    transition: all .2s ease-in-out;
    transform-origin: left center;
    perspective-origin: left center;
}

.mainLinks[b-1bas4q87wh]  a:hover,
.actionBtn:hover[b-1bas4q87wh] {
    box-shadow: var(--shadow-std);
    transform: perspective(200px) rotateY(-4deg) translateZ(1px);
}

.mainLinks[b-1bas4q87wh]  a:hover .btn-text,
.actionBtn:hover .btn-text[b-1bas4q87wh] {
    display: block;
}

.mainLinks[b-1bas4q87wh] {
    background-color: rgb(248, 235, 235);
}

.mainLinks[b-1bas4q87wh],
#addMealBtns[b-1bas4q87wh],
#addBodyMetricsBtns[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: var(--border-large);
    box-shadow: var(--shadow-std);
    width: 64px;
}

#addMealBtns[b-1bas4q87wh] { background-color: rgb(240, 248, 235) }
#addBodyMetricsBtns[b-1bas4q87wh] { background-color: rgb(235, 243, 248) }


.mainLinks[b-1bas4q87wh]  a.active {
    background-color: rgb(255, 216, 216);
    color: rgb(187, 86, 86);
}

.mainLinks[b-1bas4q87wh]  a span,
.actionBtn span[b-1bas4q87wh],
#endSessionBtn span[b-1bas4q87wh] {
    margin: 10px;
}

#endSessionBtn[b-1bas4q87wh] {
    border: none;
    background-color: transparent;
    color: #f66d5b;
    display: flex;
    transition: all .2s ease-in-out;
    align-items: center;
    margin: 10px;
    cursor: pointer;

    border-radius: var(--border-large);
    width: fit-content;
}

#endSessionBtn:hover[b-1bas4q87wh] {
    background-color: #f66d5b;
    color: white;
}

.btn-text[b-1bas4q87wh] {
    font-size: 0.9rem;
    font-variation-settings: 'wght' 600;
    margin-right: 5px;
    display: none;
    white-space: nowrap;
}
/* _content/Web_BodyApp/Shared/NeededDataFor.razor.rz.scp.css */
.infoNeedingData[b-z47y4njggu] {
    color: rgb(144, 74, 201);
    font-size: 0.85rem;
    margin-left: 15px;
}

.infoNeedingData span[b-z47y4njggu] {
    font-size: .9rem;
    margin-right: 3px;
}

.infoNeedingData p[b-z47y4njggu],
.infoNeedingData ul[b-z47y4njggu] {
    margin: 0;
}

.infoNeedingData p[b-z47y4njggu] {
    margin-top: 5px;
}

.infoNeedingData ul[b-z47y4njggu] {
    padding-left: 30px;
}
/* _content/Web_BodyApp/Shared/NoDataPlaceHolder.razor.rz.scp.css */
.noDataPlaceHolder[b-lcbn34b4ul] {
    min-height: 50px;
    border: 1px dashed gray;
    border-radius: var(--border-large);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noDataMainMessage[b-lcbn34b4ul]
{
    font-size: 0.9rem;
    font-variation-settings: 'wght' 400;
    margin: 0;
    text-align: center;
}

.noDataMainMessage span[b-lcbn34b4ul]
{
    color: black;
    font-variation-settings: 'wght' 700;
}
/* _content/Web_BodyApp/Shared/TitleData.razor.rz.scp.css */
.dataTitle[b-a8eqb6l22p] {
    font-size: .75rem;
    color: #808080;
    text-transform: uppercase;
    font-family: 'Rowdies';
    font-weight: 300;
    margin: 0;
    display: inline-block;
}

.dataDiv[b-a8eqb6l22p] {
    display: flex;
    flex-direction: column;
}
