.foodDataInfoCard[b-uw1uxb9kj8] {
    padding: 10px;
    background-color: var(--color-bkg-dark-food);
    border-radius: var(--border-medium);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodDataInfoCard p[b-uw1uxb9kj8] {
    margin: 0;
}

.intakeDetailBasicInfo[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.intakeDetailBasicInfo.editMode .formInputBlock[b-uw1uxb9kj8] {
    width: calc((100% - 10px)/2);
}

.intakeMacrosWrapper[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.intakeMacrosWrapper:not(.editMode)[b-uw1uxb9kj8]  .formInput {
    width: 100%;
}

.intakeMacrosWrapper.editMode .formInputBlock[b-uw1uxb9kj8] {
    width: calc((100% - 20px)/3);
}

.intakeDetailName[b-uw1uxb9kj8] {
    font-family: 'Rowdies', sans-serif;
    font-weight: 300;
    color: gray;
}

.foodDataInfoCard p:not(.intakeDetailName) span[b-uw1uxb9kj8] {
    font-variation-settings: 'wght' 700;
}

.intakeDetailCtaBtns[b-uw1uxb9kj8] {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

    .intakeDetailCtaBtns button[b-uw1uxb9kj8] {
        background-color: var(--color-bkg-slightlydarkgrey);
    }

.infoCtaBtn[b-uw1uxb9kj8] {
    padding: 5px 15px;
}