#inputModal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
    width: 100%;
    font-family: 'Rowdies', sans-serif;
    font-weight: 400;
}

#inputModal.fade-in {
    opacity: 1;
    visibility: visible;
}

.modal-content.fade-in {
    visibility: 1;
    transform: translateY(0);
}

#modalFirstLine {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2rem;
    width: 80%;
    max-width: 700px;
    border-radius: var(--border-large);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    visibility: 0;
    transform: translateY(10px);
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.firstLineInputs {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.firstLineInputs .formInputBlock {
    width: 100%;
}

#addWeightDataForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputBodyFatMeasures, #circunferencesInputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #inputBodyFatMeasures .formInputBlock,
    #circunferencesInputs .formInputBlock {
        width: calc(50% - 10px);
    }

#circunferencesInputs {
    padding-top: 10px;
    border-top: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
}

#bodyFatInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    margin-bottom: 10px;
}

#closeBtn {
    background-color: transparent;
    place-self: end;
    border: none;
    cursor: pointer;
}

::deep #addFoodDataForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#macrosDetailWrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#macrosDetailWrapper h3 {
    margin-bottom: 10px;
}

.inputRowWrapper {
    display: flex;
    gap: 10px;
}

.inputRowWrapper {
    display: flex;
    flex-direction: column;
}

.macrosRow {
    display: flex;
    gap: 10px;
}

.macrosRow .formInputBlock {
    width: calc((100% - 20px)/3);
}

.basicInfoFoodData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basicInfoFoodData .inputRow {
    display: flex;
    gap: 10px;
}

.basicInfoFoodData .formInputBlock {
    width: 100%;
}

.nutritionalDataInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

#nutritionalDataInputs {
    padding: 10px;
    background-color: var(--color-bkg-lightgrey);
    border-radius: var(--border-large);
}

#nutritionalDataInputs ::deep .formInput {
    background-color: var(--color-bkg-grey);
}

#manualInputNutritionalData {
    width: 100%;
}

.horizontalSeparator {
    margin: 0;
    color: grey;
    display: flex;
    justify-content: space-between;
}

.horizontalSeparator::after {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: grey;
    margin: auto 0;
}

.horizontalSeparator::before {
    content: '';
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: grey;
    margin: auto 0;
}

#dropdownInputNutritionalData {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#alreadyAddedItems {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Mensaje de error */
.invalidFormMessage {
    background-color: var(--btn-red-border);
    color: var(--btn-red-bkg);
    padding: 10px;
    text-align: center;
    border-radius: var(--border-large);
    font-variation-settings: 'wght' 400;
}

.invalidFormMessage span {
    font-variation-settings: 'wght' 800;
}

/* Para el modal de Meal */
.basicInfoMealData, .inputRow, .mealMacrosInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealMacrosInputs .rowInputs {
    display: flex;
    gap: 10px;
}

.mealMacrosInputs .rowInputs .formInputBlock {
    width: 100%;
}

::deep #addMealDataForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondaryMealSelectionRow {
    display: flex;
    gap: 10px;
}

.secondaryMealSelectionRow > *{
    width: 100%;
}