.navbar-toggler[b-1bas4q87wh] {
    background-color: rgba(255, 255, 255, 0.1);
}

#mainMenu[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
}

#addInfoMainMenuBtns[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainLinks[b-1bas4q87wh]  a,
.actionBtn[b-1bas4q87wh] {
    border: none;
    border-radius: var(--border-large);
    height: 45px;
    width: fit-content;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(92, 93, 116);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);

    transition: all .2s ease-in-out;
    transform-origin: left center;
    perspective-origin: left center;
}

.mainLinks[b-1bas4q87wh]  a:hover,
.actionBtn:hover[b-1bas4q87wh] {
    box-shadow: var(--shadow-std);
    transform: perspective(200px) rotateY(-4deg) translateZ(1px);
}

.mainLinks[b-1bas4q87wh]  a:hover .btn-text,
.actionBtn:hover .btn-text[b-1bas4q87wh] {
    display: block;
}

.mainLinks[b-1bas4q87wh] {
    background-color: rgb(248, 235, 235);
}

.mainLinks[b-1bas4q87wh],
#addMealBtns[b-1bas4q87wh],
#addBodyMetricsBtns[b-1bas4q87wh] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: var(--border-large);
    box-shadow: var(--shadow-std);
    width: 64px;
}

#addMealBtns[b-1bas4q87wh] { background-color: rgb(240, 248, 235) }
#addBodyMetricsBtns[b-1bas4q87wh] { background-color: rgb(235, 243, 248) }


.mainLinks[b-1bas4q87wh]  a.active {
    background-color: rgb(255, 216, 216);
    color: rgb(187, 86, 86);
}

.mainLinks[b-1bas4q87wh]  a span,
.actionBtn span[b-1bas4q87wh],
#endSessionBtn span[b-1bas4q87wh] {
    margin: 10px;
}

#endSessionBtn[b-1bas4q87wh] {
    border: none;
    background-color: transparent;
    color: #f66d5b;
    display: flex;
    transition: all .2s ease-in-out;
    align-items: center;
    margin: 10px;
    cursor: pointer;

    border-radius: var(--border-large);
    width: fit-content;
}

#endSessionBtn:hover[b-1bas4q87wh] {
    background-color: #f66d5b;
    color: white;
}

.btn-text[b-1bas4q87wh] {
    font-size: 0.9rem;
    font-variation-settings: 'wght' 600;
    margin-right: 5px;
    display: none;
    white-space: nowrap;
}