.infoNeedingData[b-z47y4njggu] {
    color: rgb(144, 74, 201);
    font-size: 0.85rem;
    margin-left: 15px;
}

.infoNeedingData span[b-z47y4njggu] {
    font-size: .9rem;
    margin-right: 3px;
}

.infoNeedingData p[b-z47y4njggu],
.infoNeedingData ul[b-z47y4njggu] {
    margin: 0;
}

.infoNeedingData p[b-z47y4njggu] {
    margin-top: 5px;
}

.infoNeedingData ul[b-z47y4njggu] {
    padding-left: 30px;
}