.dataTitle[b-a8eqb6l22p] {
    font-size: .75rem;
    color: #808080;
    text-transform: uppercase;
    font-family: 'Rowdies';
    font-weight: 300;
    margin: 0;
    display: inline-block;
}

.dataDiv[b-a8eqb6l22p] {
    display: flex;
    flex-direction: column;
}